#container-contas{
  height:370px;
}
#container-contas .contain-form .form{ 
  display:flex;
}
#container-contas  .contain-form .form .inp{ 
  color: #fff;
  font-size: 9pt;
  margin-right: 5px;
  justify-content: center;
}
#container-contas  .contain-form .form .inp1{ 
  color: #fff;
  font-size: 9pt;
  width:130px;
  margin-right: 5px;

}
