.contain-form .form{ 
  display:flex;
}
.contain-form .form .inp{ 
  color: #fff;
  font-size: 9pt;
  margin-right: 5px;
  justify-content: center;
}
.contain-form .form .inp1{ 
  color: #fff;
  font-size: 9pt;
  width:130px;
  margin-right: 5px;

}
#container-formContas {
  height:430px;
}
#container-formContas .form-check label{
  font-size: 9pt;
}
