@media (max-width: 575.98px) { 
  .cont-gerencimento{
    background-color:#9db2ff;
  } 
  .cont-gerencimento-1{
    background-color:#9db2ff;
    height:40px
  }
  .cont-form{
    display: flex;
    justify-content: center;
    margin-top:10px;
  }
  .cont-form label{
    font-size:13pt;
    margin-right: 3px;
    line-height: -30px;
  }
  .cont-form input{
    width:10em;
    height:30px;
    margin-left: 4px;
    font-size: 12.9pt;
    border-radius: 2px;
  }
  .cont-form button{
    font-size: 9pt;
    margin-left:2px;
  }
  .cont-gerencimento-1 table{
    background-color: #4f75ff;

  }
  .cont-gerencimento-1 table thead th{
    font-size: 11pt;
  }
  .cont-gerencimento-2{
    height: 350px;
    background-color:#4f72ff;
  }
  .cont-gerencimento-2  thead tr th{
    font-size: 10pt;
  }
  .cont-gerencimento-2  thead {
    background-color:#9db2ff;
  }
  .cont-gerencimento-1 table tbody td{
    font-size: 12pt;
    color: #fff;
  }
  .cont-subInputs{
    display: flex;
    justify-content: center;
  }
 
  .cont-inputs .total-inputs{
    text-align: center;
    width:200px;
    height:80px;
    display: inline-block;
    margin: 2px;
  }
  .cont-inputs .total-inputs label{
    font-weight: 600;
    text-align: center;
    font-size: 8pt;
  }
  .cont-inputs .total-inputs input{
  text-align: center;
   width:170px;
   height:30px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .cont-gerencimento{
    background-color:#9db2ff;
  } 
  .cont-gerencimento-1{
    background-color:#9db2ff;
    height:40px
  }
  .cont-form{
    display: flex;
    justify-content: center;
    margin-top:10px;
  }
  .cont-form label{
    font-size:13pt;
    margin-right: 3px;
    line-height: -30px;
  }
  .cont-form input{
    width:10em;
    height:30px;
    margin-left: 4px;
    font-size: 12.9pt;
    border-radius: 2px;
  }
  .cont-form button{
    font-size: 9pt;
    margin-left:2px;
  }
  .cont-gerencimento-1 table{
    background-color: #4f75ff;

  }
  .cont-gerencimento-1 table thead th{
    font-size: 11pt;
  }
  .cont-gerencimento-2{
    height: 350px;
    background-color:#4f72ff;
  }
  .cont-gerencimento-2  thead tr th{
    font-size: 10pt;
  }
  .cont-gerencimento-2  thead {
    background-color:#9db2ff;
  }
  .cont-gerencimento-1 table tbody td{
    font-size: 12pt;
    color: #fff;
  }
  .cont-subInputs{
    display: flex;
    justify-content: center;
  }
 
  .cont-inputs .total-inputs{
    text-align: center;
    width:200px;
    height:80px;
    display: inline-block;
    margin: 2px;
  }
  .cont-inputs .total-inputs label{
    font-weight: 600;
    text-align: center;
    font-size: 8pt;
  }
  .cont-inputs .total-inputs input{
  text-align: center;
   width:170px;
   height:30px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {  
  .cont-gerencimento{
    background-color:#9db2ff;
  } 
  .cont-gerencimento-1{
    background-color:#9db2ff;
    height:40px
  }
  .cont-form{
    display: flex;
    justify-content: center;
    margin-top:10px;
  }
  .cont-form label{
    font-size:13pt;
    margin-right: 3px;
    line-height: -30px;
  }
  .cont-form input{
    width:10em;
    height:30px;
    margin-left: 4px;
    font-size: 12.9pt;
    border-radius: 2px;
  }
  .cont-form button{
    font-size: 9pt;
    margin-left:2px;
  }
  .cont-gerencimento-1 table{
    background-color: #4f75ff;

  }
  .cont-gerencimento-1 table thead th{
    font-size: 11pt;
  }
  .cont-gerencimento-2{
    height: 350px;
    background-color:#4f72ff;
  }
  .cont-gerencimento-2  thead tr th{
    font-size: 10pt;
  }
  .cont-gerencimento-2  thead {
    background-color:#9db2ff;
  }
  .cont-gerencimento-1 table tbody td{
    font-size: 12pt;
    color: #fff;
  }
  .cont-subInputs{
    display: flex;
    justify-content: center;
  }
 
  .cont-inputs .total-inputs{
    text-align: center;
    width:200px;
    height:80px;
    display: inline-block;
    margin: 2px;
  }
  .cont-inputs .total-inputs label{
    font-weight: 600;
    text-align: center;
    font-size: 8pt;
  }
  .cont-inputs .total-inputs input{
  text-align: center;
   width:170px;
   height:30px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {  
  .cont-gerencimento{
    background-color:#9db2ff;
  } 
  .cont-gerencimento-1{
    background-color:#9db2ff;
    height:40px
  }
  .cont-form{
    display: flex;
    justify-content: center;
    margin-top:10px;
  }
  .cont-form label{
    font-size:13pt;
    margin-right: 3px;
    line-height: -30px;
  }
  .cont-form input{
    width:10em;
    height:30px;
    margin-left: 4px;
    font-size: 12.9pt;
    border-radius: 2px;
  }
  .cont-form button{
    font-size: 9pt;
    margin-left:2px;
  }
  .cont-gerencimento-1 table{
    background-color: #4f75ff;

  }
  .cont-gerencimento-1 table thead th{
    font-size: 11pt;
  }
  .cont-gerencimento-2{
    height: 350px;
    background-color:#4f72ff;
  }
  .cont-gerencimento-2  thead tr th{
    font-size: 10pt;
  }
  .cont-gerencimento-2  thead {
    background-color:#9db2ff;
  }
  .cont-gerencimento-1 table tbody td{
    font-size: 12pt;
    color: #fff;
  }
  .cont-subInputs{
    display: flex;
    justify-content: center;
  }
 
  .cont-inputs .total-inputs{
    text-align: center;
    width:200px;
    height:80px;
    display: inline-block;
    margin: 2px;
  }
  .cont-inputs .total-inputs label{
    font-weight: 600;
    text-align: center;
    font-size: 8pt;
  }
  .cont-inputs .total-inputs input{
  text-align: center;
   width:170px;
   height:30px;
  }
  
}

@media (min-width: 1200px) { 
  .cont-gerencimento{
    background-color:#9db2ff;
  } 
  .cont-gerencimento-1{
    background-color:#9db2ff;
    height:40px
  }
  .cont-form{
    display: flex;
    justify-content: center;
    margin-top:10px;
  }
  .cont-form label{
    font-size:13pt;
    margin-right: 3px;
    line-height: -30px;
  }
  .cont-form input{
    width:10em;
    height:30px;
    margin-left: 4px;
    font-size: 12.9pt;
    border-radius: 2px;
  }
  .cont-form button{
    font-size: 9pt;
    margin-left:2px;
  }
  .cont-gerencimento-1 table{
    background-color: #4f75ff;

  }
  .cont-gerencimento-1 table thead th{
    font-size: 11pt;
  }
  .cont-gerencimento-2{
    height: 350px;
    background-color:#4f72ff;
  }
  .cont-gerencimento-2  thead tr th{
    font-size: 10pt;
  }
  .cont-gerencimento-2  thead {
    background-color:#9db2ff;
  }
  .cont-gerencimento-1 table tbody td{
    font-size: 12pt;
    color: #fff;
  }
  .cont-subInputs{
    display: flex;
    justify-content: center;
  }
 
  .cont-inputs .total-inputs{
    text-align: center;
    width:200px;
    height:80px;
    display: inline-block;
    margin: 2px;
  }
  .cont-inputs .total-inputs label{
    font-weight: 600;
    text-align: center;
    font-size: 8pt;
  }
  .cont-inputs .total-inputs input{
  text-align: center;
   width:170px;
   height:30px;
  }
}

