@media (max-width: 575.98px) { 
  .cont-estoque{
    background-color:#9db2ff;
  } 
  .cont-1{
    background-color:#9db2ff;
    height:30px;
    
  }

  .cont-busca{
    display: flex;
    justify-content: center;
    margin-top:5px;
    margin-bottom:5px;
  }
  .cont-busca label{
    font-size:0pt;
    margin-right: 3px;
    line-height: -30px;
    opacity: 0;
  }
  .cont-1 input[type="text"]{
    width:20em;
    height:23px;
    padding-left: 4px;
    font-size: 10.9pt;
    border-radius: 4px;
  }
  .cont-busca button{
    font-size: 8pt;
    width:60px;
    height:24px;
    margin-left:2px;
  }
  .cont-2 table{
    
    background-color: #4f75ff;

  }
  .cont-2 table thead th{
    font-size: 11pt;
  }
  .cont-2{
    height: 450px;
    background-color:#4f72ff;
  }
  .cont-2  thead tr th{
    font-size: 5pt;
    
  }
  .cont-2  .table th {
    padding: 0.1rem;
    vertical-align: bottom;
    border-top: 1px solid #dee2e6;
  }
  .cont-2  thead {
    background-color:#9db2ff;
  }
  .cont-2 table tbody td{
    font-size: 5pt;
    vertical-align: center;
  }
  .cont-2  tbody tr td img{
    width:40px;
  }
  .cont-botão{
    background-color:#9db2ff;
    display: flex;
    justify-content: center;
    margin:2px
  }
  .cont-botão button{
    font-size: 9pt;
    margin-left:2px;
  }
  
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .cont-estoque{
    background-color:#9db2ff;
  } 
  .cont-1{
    background-color:#9db2ff;
    height:30px
  }
  .cont-busca{
    display: flex;
    justify-content: center;
    margin-top:5px;
    margin-bottom:5px;
  }
  .cont-busca label{
    font-size:10pt;
    margin-right: 3px;
    line-height: -30px;
  }
  .cont-1 input[type="text"]{
    width:17em;
    height:23px;
    padding-left: 4px;
    font-size: 10.9pt;
    border-radius: 4px;
  }
  .cont-busca button{
    font-size: 8pt;
    width:60px;
    height:25px;
    margin-left:2px;
  }
  .cont-2 table{
    background-color: #4f75ff;
  }
  .cont-2 table thead th{
    font-size: 11pt;
  }
  .cont-2{
    height: 450px;
    background-color:#4f72ff;
  }
  .cont-2  thead tr th{
    font-size: 6pt;
    
  }
  .cont-2  .table th {
    padding: 0.5rem;
    vertical-align: bottom;
    border-top: 1px solid #dee2e6;
  }
  .cont-2  thead {
    background-color:#9db2ff;
  }
  .cont-2 table tbody td{
    font-size: 10pt;
    vertical-align: center;
  }
  .cont-2  tbody tr td img{
    width:55px;
  }
  .cont-botão{
    background-color:#9db2ff;
    display: flex;
    justify-content: center;
    margin:2px
  }
  .cont-botão button{
    font-size: 9pt;
    margin-left:2px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {  
  .cont-estoque{
    background-color:#9db2ff;
  } 
  .cont-1{
    background-color:#9db2ff;
    height:30px
  }
  .cont-busca{
    display: flex;
    justify-content: center;
    margin-top:5px;
    margin-bottom:5px;
  }
  .cont-busca label{
    font-size:11pt;
    margin-right: 3px;
    line-height: -30px;
  }
  .cont-1 input[type="text"]{
    width:25em;
    height:25px;
    padding-left: 4px;
    font-size: 12.9pt;
    border-radius: 4px;
  }
  .cont-busca button{
    font-size: 8pt;
    width:60px;
    height:25px;
    margin-left:2px;
  }
  .cont-1 table{
    background-color: #4f75ff;
  }
  .cont-1 table thead th{
    font-size: 11pt;
  }
  .cont-2{
    height: 400px;
    background-color:#4f72ff;
  }
  .cont-2  thead tr th{
    font-size: 10pt;
  }
  .cont-2  thead {
    background-color:#9db2ff;
   }
  .cont-1 table tbody td{
    font-size: 12pt;
  }
  .cont-2  tbody tr td img{
    width:80px;
  }
  .cont-botão{
    background-color:#9db2ff;
    display: flex;
    justify-content: center;
    margin:2px
  }
  .cont-botão button{
    font-size: 9pt;
    margin-left:2px;
  }
} 

@media (min-width: 992px) and (max-width: 1199.98px) {  
  .cont-estoque{
    background-color:#9db2ff;
  } 
 
  .cont-1{
    background-color:#9db2ff;
    height:40px;
  }
  .cont-busca{
    display: flex;
    justify-content: center;
    margin-top:10px;
  }
  .cont-busca label{
    font-size:13pt;
    margin-right: 3px;
    line-height: -30px;
  }
  .cont-1 input[type="text"]{
    width:25em;
    height:30px;
    padding-left: 4px;
    font-size: 12.9pt;
    border-radius: 4px;
  }
  .cont-busca button{
    font-size: 9pt;
    margin-left:2px;
  }
  .cont-1 table{
    background-color: #4f75ff;

  }
  .cont-1 table thead th{
    font-size: 11pt;
    
  }
  .cont-2{
    height: 350px;
    background-color:#4f72ff;
  }
  .cont-2  thead tr th{
    font-size: 10pt;
  }
  .cont-2  thead {
    background-color:#9db2ff;
  }
 
  .cont-1 table tbody td{
    font-size: 12pt;
  }
  
  .cont-2  tbody tr td img{
    width:80px;
  }
  .cont-botão{
    background-color:#9db2ff;
    display: flex;
    justify-content: center;
    margin:2px
  }
  .cont-botão button{
    font-size: 9pt;
    margin-left:2px;
  }
  
}

@media (min-width: 1200px) { 
  .cont-estoque{
    background-color:#9db2ff;
  } 
  .cont-1{
    background-color:#9db2ff;
    height:40px
  }
  .cont-busca{
    display: flex;
    justify-content: center;
    margin-top:10px;
  }
  .cont-busca label{
    font-size:13pt;
    margin-right: 3px;
    line-height: -30px;
  }
  .cont-1 input[type="text"]{
    width:25em;
    height:30px;
    padding-left: 4px;
    font-size: 12.9pt;
    border-radius: 4px;
  }
  .cont-busca button{
    font-size: 9pt;
    margin-left:2px;
  }
  .cont-1 table{
    background-color: #4f75ff;
  }
  .cont-1 table thead th{
    font-size: 11pt;
  }
  .cont-2{
    width:100%;
    height: 420px;
    background-color:#4f72ff;
  }
  .cont-2  thead tr th{
    font-size: 10pt;
  }
  .cont-2  thead {
    background-color:#9db2ff;
  }
  .cont-1 table tbody td{
    font-size: 12pt;
  }
  
  .cont-2  tbody tr td img{
    width:80px;
  }
  
  .cont-botão{
    background-color:#9db2ff;
    display: flex;
    justify-content: center;
    margin:2px
  }
  .cont-botão button{
    font-size: 9pt;
    margin-left:2px;
  }
  
}

