@media (max-width: 575.98px) { 
  .cont-extrato p{
    font-size: 0.8em;
    color: white;
    padding-left:4px;
    background-color: #4f72ff;
  }

  .cont-input legend{
    font-size: 10.5px;
    margin-bottom: 0px;
  }
  .cont-input{
    margin: 0px 17px 0px;
    padding:0;
    display: inline-block;
  }
  
  .input-1{
    margin: 1.3px;
    float:left;
  }
  #input-cor{
    color: red;
  }
  .input-1 input[type="text"]{
    width:9em;
    font-weight: 700;
    padding-left: 4px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .cont-extrato p{
    font-size: 0.8em;
    color: white;
    padding-left:4px;
    background-color: #4f72ff;
  }

  .cont-input legend{
    font-size: 10.5px;
    margin-bottom: 0px;
  }
  .cont-input{
    margin: -11px 38px 0px;
    padding:0;
    display: inline-block;
  }
  
  .input-1{
    margin: 3px;
    float:left;
  }
  #input-cor{
    color: red;
  }
  .input-1 input[type="text"]{
    width:6.3em;
    font-weight: 700;
    padding-left: 4px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {  
  .cont-meio{
    display:flex;
    justify-content: center;
    margin: 10px;
  }
  
  .cont-extrato{
    width:400px;
    height:150px;
    background-color: #bdc7fa;
    float: right;
    margin: 3px;
  }

  .cont-extrato p{
    font-size: 0.8em;
    color: white;
    padding-left:4px;
    background-color: #4f72ff;
  }

  .cont-input legend{
    font-size: 10.5px;
    margin-bottom: 0px;
  }

  .cont-input{
    margin: -7px 20.5px 0px;
    padding:0;
    display: inline-block;
  }

  .input-1{
    margin: 3px;
    float:left;
  }
  
  #input-cor{
    color: red;
  }
  .input-1 input[type="text"]{
    width:8.5em;
    font-weight: 700;
    padding-left: 4px;
  }
  
}

@media (min-width: 992px) and (max-width: 1199.98px) {  
  .cont-meio{
    display:flex;
    justify-content: center;
    margin: 10px;
  }
  
  .cont-extrato{
    width:400px;
    height:150px;
    background-color: #bdc7fa;
    float: right;
    margin: 3px;
  }
  
  .cont-extrato p{
    color: white;
    padding-left:4px;
    background-color: #4f72ff;
  }
  
  .cont-input legend{
    font-size: 12px;
    margin-bottom: 0px;
  }
  .cont-input{
    margin: -12px 10px 0px;
    padding:2px;
    display: inline-block;
  }
  
  .input-1{
    margin: 2px;
    float:left;
  }
  #input-cor{
    color: red;
  }
  .input-1 input[type="text"]{
    width:11em;
    padding-left: 4px;
    font-weight: 700;
  }
}

@media (min-width: 1200px) {  
  .cont-meio{
    display:flex;
    justify-content: center;
    margin: 5px;
  }
  
  .cont-extrato{
    width:400px;
    height:150px;
    background-color: #bdc7fa;
    float: right;
    margin: 3px;
  }
  
  .cont-extrato p{
    color: white;
    padding-left:4px;
    background-color: #4f72ff;
  }
  
  .cont-input legend{
    font-size: 12px;
    margin-bottom: 0px;
  }
  .cont-input{
    margin: -12px 10px 0px;
    padding:2px;
    display: inline-block;
  }
  
  .input-1{
    margin: 2px;
    float:left;
  }
  #input-cor{
    color: red;
  }
  .input-1 input[type="text"]{
    padding-left: 4px;
    font-weight: 700;
    width:11em;
  }
}