@media (max-width: 575.98px) { 
  .logo_centro{
    display: flex;
    justify-content: center;
    margin:2em;
  }
  .logo_centro img{
    width:170px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .logo_centro{
    display: flex;
    justify-content: center;
    margin:4em;
  }
  .logo_centro img{
    width:200px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {  
  .logo_centro{
    display: flex;
    justify-content: center;
    margin:3em;
  }
  .logo_centro img{
    width:200px;
  }
  
}

@media (min-width: 992px) and (max-width: 1199.98px) {  
  .logo_centro{
    display: flex;
    justify-content: center;
    margin:3em;
  }
  .logo_centro img{
    width:200px;
  }
}

@media (min-width: 1200px) {  
  .logo_centro{
    display: flex;
    justify-content: center;
    margin:3em;
  }
  .logo_centro img{
    width:200px;
    opacity: 0.6;
  }
}