@media (max-width: 575.98px) { 
  .logo_centro{
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    visibility:hidden;
  }
  .logo_centro img{
    width:0px;
    visibility:hidden;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .logo_centro{
    display: flex;
    justify-content: center;
    margin-top: -5rem;
    margin-bottom: 2rem;
  }
  .logo_centro img{
    width:120px;
    opacity: 0.8;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {  
  .logo_centro{
    display: flex;
    justify-content: center;
    margin:3em;
  }
  .logo_centro img{
    width:120px;
    opacity: 0.8;
  }
  
}

@media (min-width: 992px) and (max-width: 1199.98px) {  
  .logo_centro{
    display: flex;
    justify-content: center;
    margin:3em;
  }
  .logo_centro img{
    width:140px;
    opacity: 0.8;
  }
}

@media (min-width: 1200px) {  
  .logo_centro{
    display: flex;
    justify-content: center;
    margin-bottom:3em;
  }
  .logo_centro img{
    width:150px;
    opacity: 0.8;
  }
}