@media (max-width: 575.98px) {
  #menu-principal .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  #menu-principal .navbar-light .navbar-nav .nav-link {
    color: #9db2ff !important;
  }
  #menu-principal h3{
    color: rgb(6, 182, 6);
    font-size: 20pt;
  }
  #menu-principal a:-webkit-any-link {
    font-size: 11.5pt;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #menu-principal .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  #menu-principal .navbar-light .navbar-nav .nav-link {
    color: #9db2ff !important;
  }
  #menu-principal h3{
    color: rgb(6, 182, 6);
    font-size: 20pt;
  }
  #menu-principal a:-webkit-any-link {
    font-size: 11.5pt;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #menu-principal .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  #menu-principal .navbar-light .navbar-nav .nav-link {
    color: #9db2ff !important;
  }
  #menu-principal h3{
    color: rgb(6, 182, 6);
    font-size: 20pt;
  }
  #menu-principal a:-webkit-any-link {
    font-size: 11.5pt;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #menu-principal .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  #menu-principal .navbar-light .navbar-nav .nav-link {
    color: #9db2ff !important;
  }
  #menu-principal h3{
    color: rgb(6, 182, 6);
    font-size: 20pt;
  }
  #menu-principal a:-webkit-any-link {
    font-size: 11.5pt;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none !important;
  }
}

@media (min-width: 1200px) {
  #menu-principal .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
  #menu-principal .navbar-light .navbar-nav .nav-link {
    color: #9db2ff !important;
  }
  #menu-principal h3{
    color: rgb(6, 182, 6);
    font-size: 20pt;
  }
  #menu-principal a:-webkit-any-link {
    font-size: 11.5pt;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none !important;
  }
}