@media (max-width: 575.98px) { 
  #SubMenu-principal{
    visibility:hidden;
    width:0;
  }
  
  #SubMenu-principal ul {
    list-style-type: none;
  }
  #SubMenu-principal .cont-SubMenu{
    display:flex;
    justify-content: center;
    margin: 10px 10px;
  }
  #SubMenu-principal .cont-SubMenu img{
    width:0px;
    margin: 0px 16px;
    cursor: pointer;
  }
  /* #SubMenu-principal .cont-SubMenu img:hover{
    position: relative;
    bottom: 11px;
    width:70px;
    margin: 0px 16px;
    cursor: pointer;
  } */
  
  #SubMenu-principal .cont-SubMenu p{
    font-size: 10pt;
    text-align: center;
    color:#9db2ff;
    font-weight: 500;
  }
  #SubMenu-principal a {
    color: #0d6efd;
    text-decoration: none !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  #SubMenu-principal{
    visibility:hidden;
    width:0;
  }
  
  #SubMenu-principal ul {
    list-style-type: none;
  }
  #SubMenu-principal .cont-SubMenu{
    display:flex;
    justify-content: center;
    margin: 10px 10px;
  }
  #SubMenu-principal .cont-SubMenu img{
    width:0px;
    margin: 0px 16px;
    cursor: pointer;
  }
  /* #SubMenu-principal .cont-SubMenu img:hover{
    position: relative;
    bottom: 11px;
    width:70px;
    margin: 0px 16px;
    cursor: pointer;
  } */
  
  #SubMenu-principal .cont-SubMenu p{
    font-size: 10pt;
    text-align: center;
    color:#9db2ff;
    font-weight: 500;
  }
  #SubMenu-principal a {
    color: #0d6efd;
    text-decoration: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
  #SubMenu-principal ul {
    list-style-type: none;
  }
  #SubMenu-principal .cont-SubMenu{
    display:flex;
    justify-content: center;
    margin: 6px 8px;
  }
  #SubMenu-principal .cont-SubMenu img{
    width:50px;
    margin: 0px 16px;
    cursor: pointer;
  }
  /* #SubMenu-principal .cont-SubMenu img:hover{
    position: relative;
    bottom: 11px;
    width:70px;
    margin: 0px 16px;
    cursor: pointer;
  } */
  
  #SubMenu-principal .cont-SubMenu p{
    font-size: 7.6pt;
    text-align: center;
    color:#9db2ff;
    font-weight: 500;
  }
  #SubMenu-principal a {
    color: #0d6efd;
    text-decoration: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {  
  #SubMenu-principal ul {
    list-style-type: none;
  }
  #SubMenu-principal .cont-SubMenu{
    display:flex;
    justify-content: center;
    margin: 10px 10px;
  }
  #SubMenu-principal .cont-SubMenu img{
    width:70px;
    margin: 0px 16px;
    cursor: pointer;
  }
  #SubMenu-principal .cont-SubMenu img:hover{
    position: relative;
    bottom: 11px;
    width:70px;
    margin: 0px 16px;
    cursor: pointer;
  }
  
  #SubMenu-principal .cont-SubMenu p{
    font-size: 9pt;
    text-align: center;
    color:#9db2ff;
    font-weight: 500;
  }
  #SubMenu-principal a {
    color: #0d6efd;
    text-decoration: none !important;
  }
}

@media (min-width: 1200px) {  
  #SubMenu-principal ul {
    list-style-type: none;
  }
  #SubMenu-principal .cont-SubMenu{
    display:flex;
    justify-content: center;
    margin: 10px 10px;
  }
  #SubMenu-principal .cont-SubMenu img{
    width:70px;
    margin: 0px 16px;
    cursor: pointer;
  }
  #SubMenu-principal .cont-SubMenu img:hover{
    position: relative;
    bottom: 11px;
    width:70px;
    margin: 0px 16px;
    cursor: pointer;
  }
  
  #SubMenu-principal .cont-SubMenu p{
    font-size: 10pt;
    text-align: center;
    color:#9db2ff;
    font-weight: 500;
  }
  #SubMenu-principal a {
    color: #0d6efd;
    text-decoration: none !important;
  }
}