.container-fluid {
  width: 100vw;
  height: 100vh;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#0a3fff), to(#b8c7ff));
  background-image:-o-linear-gradient(#0a3fff, #b8c7ff);
  background-image:linear-gradient(#0a3fff, #b8c7ff);
}
